<!doctype html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<div class="wrapper row1">
    <header id="header" class="clear">
        <div id="hgroup">
            <h1><a href="/">Projekt WEPPO 2022</a></h1>
            <h2>Joanna Stachowicz</h2>
            <h2>Patryk Mazur</h2>
            <h2>Mikołaj Depta</h2>
        </div>
        <nav>
            <ul>
                <li><a href="/">Strona główna</a></li>
                <li><a href="browse">Przeglądaj</a></li>
                <li><a href="login">Logowanie</a></li>
                <li><a href="register">Rejestracja</a></li>
                <li><a href="cart">Koszyk</a></li>
            </ul>
        </nav>
    </header>
</div>
<!-- content -->
<div class="wrapper row2">
    <h1> 404 </h1>
</div>
<!-- Copyright -->
<div class="wrapper row4">
    <footer id="copyright" class="clear">
        <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
        <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/"
                                           title="Free Website Templates">OS Templates</a></p>
    </footer>
</div>
</body>
</html>