<!doctype html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div class="wrapper row1">
    <header id="header" class="clear">
        <div id="hgroup">
            <h1><a href="/">Projekt WEPPO 2022</a></h1>
            <h2>Joanna Stachowicz</h2>
            <h2>Patryk Mazur</h2>
            <h2>Mikołaj Depta</h2>
        </div>
        <nav>
            <ul>
                <li><a href="/">Strona główna</a></li>
                <li><a href="login">Logowanie</a></li>
                <li><a href="register">Rejestracja</a></li>
                <li><a href="cart">Koszyk</a></li>
            </ul>
        </nav>
    </header>
</div>
<!-- content -->
<div class="wrapper row2">
    <form action="/browse/" method="get" style="color:black;text-align:center;position:relative;bottom:-15px;">
        <label for="search">Wyszukaj: </label>
        <input id="search" type="text" name="search">
        <input type="submit" value="Szukaj">
    </form>
    <div id="container" style="display: flex;">
        <section>
            <% for (var i = 0; i < query_results.length; i++) { %>
                <% if (i % 3 === 2) { %>
                <article class="one_third lastbox">
                    <% } else { %>
                    <article class="one_third">
                        <% } %>
                        <figure>
                            <img src="<%= query_results[i][2] %>" style="width: 300px; height: 300px;">
                            <figcaption> <%= query_results[i][0] %></figcaption>
                            <br>
                            <figcaption> <%= query_results[i][1] %></figcaption>
                        </figure>
                    </article>
                    <% if (i % 3 === 2) { %>
        </section>
    </div>
    <div id="container" style="display: flex;">
        <section>
            <% } %>
            <% } %>
        </section>
    </div>
</div>
<!-- Copyright -->
<div class="wrapper row4">
    <footer id="copyright" class="clear">
        <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
        <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/"
                                           title="Free Website Templates">OS Templates</a></p>
    </footer>
</div>
</body>
</html>